@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: JetBrains Mono;
    background-color: #1f1f1f;
    color: #bbbbbb;
}

section, div, label, input, p {
    background-color: #1a1a1a;   
}

body {
    justify-items: center;
    width: 90%;
}

header p{
    background: transparent;
    margin-top: 0px;
    color: #bbbbbb79;
}

header h1 {
    margin-bottom: 5px;
}

section {
    height: auto;
    width: 550px;
    border-radius: 10px;
    justify-items: center;
    display: grid;
}

div {
    padding: 12px;
}

#retorno{
    padding: 12px;
}

#button {
    display: inline-block;
    justify-self: end;
    margin-right: 130px;
    border-radius: 5px;
}

#tabela {
    width: 290px;
}